h2 {
  text-align: center;
  font-size: 1.8em;
}

a {
  color: black;
}

hr {
  margin: 0;
}

/*去两边余白*/
.slider .container-fluid {
  padding: 0;
}

/*控制手机宽度*/
.slider .carousel-inner img {
  max-height: 600px;
}

/*控制news上方外边距*/
.news {
  margin-top: 50px;
}

/*控制菜单上方外边距*/
.menu {
  margin-top: 50px;
}

/*控制菜单图片距离*/
.menu .container .row img {
  padding-bottom: 20px;
}

/*控制qa上方外边距*/
.qa {
  margin-top: 50px;
}

.shop .btn {
  width: 120px;
  margin: 10px;
}
