h2 {
  text-align: center;
  font-size: 1.8em;
  padding-bottom: 20px;
  padding-top: 20px;
}

a {
  color: black;
}

hr {
  margin: 0;
}


/*去两边余白*/
.slider .container-fluid {
  padding: 0;
}

/*控制手机宽度*/
.slider .carousel-inner img {
  max-height: 600px;
}

/*控制news上方外边距*/
.news {
  margin-top: 50px;
}

/*控制菜单上方外边距*/
.menu {
  margin-top: 50px;
}

/*控制菜单图片距离*/
.menu .container .row img {
  padding-bottom: 20px;
}

.menu .container {
  padding-top: 20px;
}

/*控制qa上方外边距*/
.qa {
  margin-top: 50px;
}

.shop .btn {
  width: 120px;
  margin: 10px;
}
/*主菜单的图片尺寸*/
.menu img {
  width: 30em;

}

.menu .card-body .btn {
  width: 120px;
  margin: 10px;
}

/*调整菜单栏间距*/
.shop-menu .table td, .table th {
  padding: 0.2em;
}

/*调整菜单图片与价格对齐*/
.shop-menu img {
  margin-top: 4em;
}

/*员工图片之间的距离*/
.staff .card-group div img {
  padding: 40px;
}
