h2 {
  text-align: center;
  font-size: 1.8em;
  padding-top: 1em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

small {
  text-align: center;
}

a {
  color: black;
}

hr {
  margin: 0;
}

footer {
  margin-bottom: 4em;
}

/*去两边余白*/
.container-fluid {
  padding: 0;
}

/*控制手机宽度*/
.slider .carousel-inner img {
  max-height: 600px;
}

/*控制news上方外边距*/
.news {
  margin-top: 50px;
}

/*控制菜单上方外边距*/
.menu {
  margin-top: 50px;
}

/*控制菜单图片距离*/
.menu .container .row img {
  padding-bottom: 20px;
}

.menu .container {
  padding-top: 20px;
}

/*point下面的边距*/
.point .card-group div {
  padding: 10px;
}

/*控制qa上方外边距*/
.qa {
  margin-top: 50px;
}

.shop .btn {
  width: 120px;
  margin: 10px;
}
/*主菜单的图片尺寸*/
.menu img {
  width: 20em;

}

.menu .card-body .btn {
  width: 120px;
  margin: 10px;
}

/*调整菜单栏间距*/
.shop-menu .table td {
  padding: 0;
  font-size: 1.3em;
  background-color: whitesmoke;
}


.shop td, .shop th {
  padding: 0;
}
/*员工图片之间的距离*/
.staff .card-group div img {
  padding: 40px;
  min-width: 100px;
  min-height: 100px;
}

/*调整access下边距*/
.access .card-deck {
  padding-bottom: 2em;
}

.access img {
  max-width: 300px;
  margin: auto;
}

footer li {
  width: 50%;
}
